button {
    color: white;
    border: none;
    background-color: black;
    border-radius: 13%;
    width: 75px;
    transition: all 1s;
}
input {
    border: 0.5px solid red;    
    color: gray;}
select {
    border: 0.5px solid red;    
    color: gray;
}