.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__input {
        padding-top: 50px;
        input {
            height: 32px;
            width: 160px;
            margin-right: 15px;
        }
    }
    &__select {
        padding-top: 50px;

        select {
            height: 32px;
            width: 200px;
        }
    }
}