.pokedex {
    width: 750px;
    background-color: white;
    margin: 40px auto;
    border: 24px solid rgb(202, 202, 202);
    border-radius: 20px;
    padding: 20px;
}

.pokeData {
    display: flex;
    &__type {
        margin-bottom: 0;
        font-weight: 100;
        font-size: 15px;
    }
    &__dex {
        font-size: 15px;
        margin-bottom: 0;
    }
    img {
        width: 45%;
    }
}